*
!.gitignore
!config*/
!config*/**
!datapacks*/
!datapacks/**
!defaultconfigs*/
!defaultconfigs*/**
!kubejs*/
!kubejs*/**
!local*/
!local*/**
!world/
!world/serverconfig/
!world/serverconfig/**

!build.sh
!eula.txt
!README.md
!server.properties
!startserver.sh
!user_jvm_args.txt
!fetch_mods.sh
!package_mods.sh
